@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
* {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.cover {
  background-image: url(images/home.jpg);
  background-size: cover;
  height: 40rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-top: 2rem;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: black;
  position: relative;
}
li:hover {
  transform: scaleY(1.5);
}

li a:hover {
  
  color: rgb(231, 175, 55);
}
li a {
  text-decoration: none;
  color: black;
}
.search-area {
  margin: 8rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(7, 7, 6, 0.699);
  height: 10rem;
  display: grid;
  justify-content: center;
}
.welcome {
  color: white;
  font-size: 3rem;
}

/* search form */

select {
  border: 1px rgb(231, 175, 55);
  height: 3.1rem;
  background-color: #f1f1f1;
  padding-left: 1rem;
  width: 8rem;
}

.form {
  display: flex;
  justify-content: center;
}
#search {
  height: 3.1rem;
  width: 10rem;
}
.gallery {
  background-color: rgba(0, 0, 0, 0.849);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 2rem;
  justify-content: space-evenly;
}
.gallery img {
  height: 200px;
  width: 300px;
  box-shadow: 0px 7px 10px rgba(158, 144, 144, 0.5);
  border-radius: 0.5rem;
}
.gallery img:hover {
  transform: translateY(10px);
  transition: 0.5s;
}

.inter-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/sigmund-QnitL3_yNHg-unsplash.jpg);
  background-size: cover;
  height: 20rem;
  display: grid;
  justify-content: space-around;
  align-content: center;
}
.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.904);
  width: 14rem;
  height: 3.5rem;
}
.btn:hover {
  background-color: rgba(12, 12, 12, 0.795);
}
h1 {
  text-align: center;
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.best {
  background-color: #202020;
  padding: 2rem;
}
/* Cards */
.cards-container {
  display: flex;
  justify-content: space-around;
}
.card {
  transition: 0.3s;
  width: 25%;
  border-radius: 0.5rem;
}
.container {
  margin-bottom: 2rem;
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
  border-radius: 0.5rem;
  text-align: center;
}
.card img {
  border-radius: 0.5rem;
  height: 200px;
}
.card img:hover {
  opacity: 70%;
}

/* sponsors*/

.sponsors {
  background-color: white;  
  background-size: cover;
  height: 20rem;
  padding: 2rem;
}
div.sponsors h1 {
    color: black;
}

/* partners */
.partner {
    display: flex;
    justify-content: space-around;
}

.footer {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #202020;
    height: 15rem;
    color: white;
  
    
}
.footer-container {
    display: flex;
    justify-content: space-between;
   
}
h3 {
    color: rgb(231, 175, 55);
    padding-bottom: 2rem;
}
.footer hr {
    margin-top: 7rem;
    margin-bottom: 1rem;   
    border: 0;
    border-top: 1px solid rgba(255, 253, 253, 0.747);
}
#logo {
  height: 6rem;
  width: auto;
}
#logo-nav {
  height: 3rem;
  width: auto;
  margin-right: 45rem;
}
button {
  background-color: rgb(231, 175, 55);
  border: 1px rgb(231, 175, 55);
  height: 2.77rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
input {
  border: 1px rgb(231, 175, 55);
  height: 2.6rem;
  border-top-left-radius: 0.5rem ;
  border-bottom-left-radius: 0.5rem ;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
i {
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.fa-insta {
  display: flex;
  justify-content: center;
}

/* contacts */
.contacts {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.829)),
   url(images/adam-solomon-WHUDOzd5IYU-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 40rem;
}

.contact-form, .contact-info {
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 0.5rem;
  margin: 7rem;
}
.row {
  display: flex;
  justify-content: space-around;
}
.row input, .row textarea {
  margin: 1rem;
  border-radius: 0.5rem;
}
textarea {
  width: 100%;
}
.row button {
  width: 50%;
  border-radius: 0.5rem;
}
.row .h, .row p {
  padding: 1.4rem;
}
#tel {
  margin-right: 5rem;
}
.h {
  font-size: 1.2rem;
  font-weight: bold;
}
.vente {
  padding: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.829)),
   url(images/sj-sSH1xo_IXyU-unsplash.jpg);
   background-size: cover;
   background-attachment: fixed;
  color: black;
}
.pagination {
  display: inline-block;
  float: right;
}

.pagination a {
  color: white;
  font-size: 1.5rem;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a:hover {
  background-color: rgb(231, 175, 55);
  color: black;
  border-radius: 50%;
}
/****************************Cards Animation***************************/

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 3.5rem;

}

.cardb {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.cardb:hover {
  transform: translateY(20px);
}
.cardb:hover:before {
  opacity: 1;
}
.cardb:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.cardb:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.cardb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.cardb .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.cardb .info h1 {
  margin: 0px;
}
.buttonb {
  
  background-color: rgb(231, 175, 55);
  border: 1px rgb(231, 175, 55);
  height: 2.77rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-top: 1rem;
}
/****************************Cards Animation***************************/
.s {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.grey {
  filter: grayscale(1);
}
.grey:hover {
  filter: grayscale(0);
}